* {
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
      font-family: SolaimanLipiNormal;
      font-size: 15px;
      line-height: 150%;
  }

  
  @font-face {
      font-family: SolaimanLipiNormal;
      src: url('fonts/solaimanlipi_20-04-07.eot');
      src: url('fonts/solaimanlipi_20-04-07.eot')format('embedded-opentype'), url('fonts/solaimanlipi_20-04-07.woff') format('woff'), url('fonts/solaimanlipi_20-04-07.ttf') format('truetype'), url('fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal') format('svg');
  }
  
main {
    background: white;
    font-size: 14px;
    color: black;
    width: 1400px;
    margin: auto;
    margin-top: 15px;
}

.header {
    margin: auto;
    height: auto;
}

.drop-down-menu,
.date-logo-search{
      width: 1400px;
      margin: auto;
}

.drop-dpwn-menu-part-2{
      width: 900px;
      margin: auto;

}

.drop-dewn-background {
    background-color: #696969	;
}

.drop-down-menu>nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px;

}

.drop-down-menu>nav>ul>li>a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.drop-dpwn-menu-part-2>nav>ul>li>a:hover,
.drop-down-menu>nav>ul>li>a:hover {
    color: red;
    transition: all 0.5s;
}

.drop-down-menu>nav>ul>li {
    text-align: center;
}

.main-logo img {
    max-width: 100%;
}

.date-logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-menu,
.date {
    width: 30%;
}

.main-logo {
    width: 30%;
}


i.fa-sharp.fa-solid.fa-list-timeline {
    color: black;
    font-size: 20px;
}

.menu-box-right {
  color: black;
}

.search-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-option>a {
    color: black;
}

.three-line {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

i.fa-solid.fa-magnifying-glass {
    padding-left: 330px;
    font-size: 28px;
}

.drop-dpwn-menu-part-2>nav>ul {
    display: flex;
    justify-content: space-around;
}

.drop-dpwn-menu-part-2>nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: n;
    color: black;
}

.drop-dpwn-menu-part-2>nav>ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drop-dpwn-menu-part-2-underline {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.main-news {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.main-news-text {
    padding-right: 10px;
}

.main-news-text>h2>a {
    text-decoration: none;
    color: red;
}

.lead-box {
    display: flex;
    justify-content: space-between;
}

.lead-middle,
.lead-main {
    width: 48%;
}

.lead-right {
    width: 25%;
}

.single-box-pic img,
.lead-pic img {
    max-width: 100%;
}

.middle-single-box {
    display: flex;
    justify-content: space-between;
}

.middle-single-box {
    display: flex;
    justify-content: space-between;
}

.lead-pic img {
    max-width: 100%;
}


.single-box-pic {
    width: 45%;
}


.middle-box-news {
    width: 50%;
}

.lead-left-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.lead-left-box {
    /* width: 70%; */
}

.lead-news h1 a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}

.lead-news h1 {
    margin-bottom: 15px;
    margin-top: 15px;
}


.middle-box-news>h2>a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.middle-box-news>h2 {
    margin: 0 0 10px 0;
}

.middle-box-news>p {
    margin-bottom: 15px;
}

.lead-news,
.middle-single-box {
    /* border-bottom: 2px solid gray; */
    margin-bottom: 15px;
}

.lead-news p {
    margin-bottom: 20px;
}

.lead-main {
    border-right: 2px solid gray;
    padding-right: 30px;
}

.add-right {
    border-left: 2px solid gray;
    padding-left: 24px;
}

.middle-three-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.middle-single-news-pic {
    width: 31%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
    padding-right: 31px;
}

.middle-single-pic img {
    max-width: 100%;
}

.middle-single-news {
    width: 60%;
}

.middle-single-pic {
    width: 35%;
}

.middle-single-news>h2>a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    /* margin-bottom: 10px; */
}

.middle-single-news h2 {
    margin-bottom: 10px;
}

.middle-single-box:last-child {
    border-bottom: none;
}



.footer-main-box {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer-logo {
    width: 25%;
}

.footer-logo img {
    max-width: 100%;
}

.footer-apps-store {
    width: 40%;
}

.footer-apps-store {
    display: flex;
    justify-content: space-between;
}

.apple-store {
    width: 45%;
}


.google-play {
    width: 45%;
}

.apple-store {
    display: flex;
    justify-content: space-between;
}

.google-play {
    display: flex;
    justify-content: space-between;
}

.apple-img img {
    max-width: 100%;
}

.google-app img {
    max-width: 100%;
}

.footer-text {
    width: 1400px;
    margin: auto;
}

.footer-text>nav>ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    list-style: none;
}

.footer-text>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

.google-text>a,
.apple-text>a {
    text-decoration: none;
    color: black;
}

.apple-img {
    margin-right: 20px;
}


.google-app {
    margin-right: 20px;
}

.footer-main-box {
    border-top: 1px solid gray;
    padding-top: 47px;
}

.b-top-bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.w-1400 {
    width: 1400px;
    margin: auto;
}

.m-top-25 {
    margin-top: 25px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}


.list-style {
    list-style: none;
}

.m-left {
    margin-left: 15px;
}

.social-media>nav>ul>li {
    margin-left: 25px;
}

.p-top {
    padding-top: 20px;
}

.m-top-40 {
    margin-top: 40px;
}

.p-bottom {
    padding-bottom: 20px;
}

.f-color {
    color: #1877F2;
}

.t-color {
    color: #1DA1F2;
}

.y-color {
    color: #FF0000;
}

.in-color {
    color: #0e76a8;
}

.i-color {
    color: #8a3ab9;
}

.a-item-center {
    align-items: center;
}

.background-color-gray {
    background-color: gray;
}
.border-none {
    border: none;
}

.color-white {
    color: white;
}
.padding-10-10 {
    padding: 10px 10px;
}


.text-align-center {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

.font-size {
    font-size: 22px;
}

.margin-4-2 {
    margin: 4px 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.border-redius-40 {
    border-radius: 15%;
}

.border-redius-50 {
    border-radius: 50%;
}

.border-redius-20 {
    border-radius: 20%;
}

.border-redius-30 {
    border-radius: 30%;
}

.border-redius-10 {
    border-radius: 10%;
}

.text-decoration-none {
    text-decoration: none;
}

.color-black {
    color:black;
}

.float-right {
    float: right;
}

.w-1052 {
    width: 1052px;
}

.padding-15px {
    padding: 15px;
}

.aro-box.m-top-25.w-1052.float-right {
    display: flex;
    justify-content: end;
}

.width-60 {
    width: 60%;
}

.width-30 {
    width: 30%;
}

.colum-main-box {
    width: 30%;
}

.aro-khabor-main-box {
    width: 65%;
}

.maxwith-100 {
    max-width: 100%;
}

.width-100-percent {
    width: 100%;
}

.border-box-2px-gray {
    border: 2px solid gray;
}


.padding-20px {
    padding: 20px 0;
}

.aro-khobor-text,
.colum-text-box {
    background: red;
    width: 80px;
    text-align: center;
    padding: 5px 15px;
}

.width-21-percent {
    width: 21%;
}

.width-22-percent {
    width: 22%;
}

.width-23-percent {
    width: 23%;
}

.width-24-percent {
    width: 24%;
}


.color-white {
    color: white;
}

.border-top-3px-red {
    border-top: 3px solid red;
}


.aro-khobor-text,
.colum-text-box {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.aro-khabor-main-box,
.colom-border-box.border-box-2px-gray.padding-15px {
    position: relative;
}


.aro-head {
    margin: 10px 0;
}

.colum-pic img {
    border-radius: 50%;
}

.width-31-percent {
    width: 31%;
}

.width-32-percent {
    width: 32%;
}

.width-30-percent {
    width: 30%;
}

.width-75-percent {
    width: 70%;
}

.border-top-2px-gray {
    border-top: 2px solid gray;
}

.border-bottom-2px-gray {
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}

.border-right-2px-gray {
    /* border-right: 2px solid gray; */
}

.padding-right-22px {
    padding-right: 22px;
}

.padding-bottom-22px {
    padding-bottom: 22px;
}

.paddiing-bottom-15px {
    padding-bottom: 15px;
}

.paddiing-bottom-18px {
    padding-bottom: 18px;
}

.paddiing-bottom-10-px {
    padding-bottom: 10px;
}

.padding-top-20px {
    padding-top: 20px;
}

.width-20-percent {
    width: 20%;
}

.width-65-percent {
    width: 65%;
}

.padding-right-15px {
    padding-right: 15px;
}

.m-bottom-35 {
    margin-bottom: 35px;
}

.width-18-percent {
    width: 19%;
}

.width-17-percent {
    width: 18%;
}

.border.padding-bottom-22px.w-1400.padding-bottom-22px {
    /* border-bottom: 2px solid gray; */
    padding-bottom: 20px;
}

.aro-box.m-top-25.w-1400.d-flex.justify-content-end {
    justify-content: end;
}

.four-single-pic-head.d-flex.justify-content-between.border-bottom-2px-gray.paddiing-bottom-15-px {
    padding: 15px 0;
    margin-right: 19px;
}

.four-lead-pic-head.border-bottom-2px-gray.paddiing-bottom-15-px {
    padding-bottom: 20px;
    margin-right: 19px;
}

.aro-box.width-100-percent.d-flex.justify-content-end.m-top-25.m-bottom-25 {
    display: flex;
    justify-content: end;
}

.justify-content-left {
    justify-content: left;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-24px {
    font-size: 24px;
}

.play-right>nav>ul>li>a:hover {
    background: red;
    transition: all 0.5s;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-left-20px {
    margin-left: 20px;
}
.m-top-10px {
    margin-top: 10px;
}

.m-bottom-10px {
    margin-bottom: 10px;
}


.width-50-percent {
    width: 50%;
}

.play-three-box-lead img {
    max-width: 100%;
}

.m-top-10px {
    margin-top: 10px;
}

.m-bottom-10px {
    margin-bottom: 10px;
}

.width-45-percent {
    width: 45%;
}

.margin-right {
    margin-right: 19px;
}

.margin-right-20px {
    margin-right: 20px;
}

.margin-right-21px {
    margin-right: 21px;
}

.margin-right-21px {
    margin-right: 21px;
}


.margin-right-22px {
    margin-right: 22px;
}

.border-right-2px-gray {
    border-right: 2px solid gray;
}

.padding-right-20px {
    padding-right: 20px;
}

.padding-right-21px {
    padding-right: 21px;
}

.padding-right-22px {
    padding-right: 22px;
}

.padding-right-23px {
    padding-right: 23px;
}

.padding-right-24px {
    padding-right: 24px;
}

.padding-right-25px {
    padding-right: 25px;
}

.padding-right-26px {
    padding-right: 26px;
}

.padding-right-27px {
    padding-right: 27px;
}
.padding-right-28px {
    padding-right: 28px;
}


.padding-right-34px {
    padding-right: 345px;
}
.padding-right-19px {
    padding-right: 19px;
}

.padding-right-18px {
    padding-right: 18px;
}

.padding-right-17px {
    padding-right: 17px;
}

.padding-right-16px {
    padding-right: 16px;
}

.padding-right-18px {
    padding-right: 18px;
}

.padding-right-30px {
    padding-right: 30px;
}

.padding-right-31px {
    padding-right: 31px;
}

.padding-right-32px {
    padding-right: 32px;
}

.padding-right-33px {
    padding-right: 33px;
}

.padding-right-29px {
    padding-right: 29px;
}

.padding-right-29px {
    padding-right: 28px;
}

.width-29-percent {
    width: 29%;
}

.width-28-percent {
    width: 28%;
}

.width-27-percent {
    width: 27%;
}

.width-33-percent {
    width:33% ;
}

.width-34-percent {
    width:34% ;
}

.four-single-head.width-65-percent {
}

.main-news.border-bottom-2px-gray.paddiing-bottom-15-px.padding-right-22px.margin-right {
    padding-bottom: 15px;
}

.main-news.border-bottom-2px-gray.paddiing-bottom-15-px.padding-right-22px {
    padding-bottom: 15px;
}

.four-single-head.width-65-percent {
}

.main-news.border-bottom-2px-gray.paddiing-bottom-15-px.padding-right-22px.margin-right {
    padding-bottom: 15px;
}

.main-news.border-bottom-2px-gray.paddiing-bottom-15-px.padding-right-22px {
    padding-bottom: 15px;
}

.play-three-box-head h2 {
    font-size: 30px;
    margin: 15px 0;
}

.play-left-head.m-top-10px {
    margin-bottom: 15px;
}

.border-left-2px-gray {
    border-left: 2px solid gray;
}

.paddiing-left-22px {
    padding-left: 22px;
}

.width-25-percent {
    width: 25%;
}

.width-80-percent {
    width: 80%;
}

.aro-box.m-top-25.width-100-percent.d-flex.justify-content-end.bor.border-bottom-2px-gray.m-bottom-35 {
    justify-content: end;
}

.aro-box.m-top-25.width-100-percent.d-flex.justify-content-end.m-bottom-35 {
    justify-content: end;
}

.width-40-percent {
    width: 40%;
}

.font-size-20px {
    font-size: 20px;
}

.aro-box.width-100-percent.d-flex.justify-content-end.m-top-25.m-bottom-25 {
    padding-right: 20px;
}

.right-part-heading a:hover,
.four-lead-head a:hover,
.single-head a:hover,
.aro-box a:hover {
    color: red;
}

.right-part-heading a:hover,
.transition-all {
    transition: 0.5s all ease-in-out;
}

.color-red {
    color: red;
}

.justify-content-spacebetween-left {
    justify-content: space-evenly;
}

.align-item-center {
    align-items: center;
}

.background-repeat {
    background-repeat: no-repeat;
}

.margin-auto {
    margin: auto;
}

.margin-top-20px {
    margin-top: 20px;
}

h3,
a {
    font-weight: normal;
}

.single-head {
    margin-bottom: 20px;
    margin-top: 20px;}

.greter {
    margin-top: 22px;
}

.videos-heading {
    color: white;
    margin-top: 20px;
}

.width-1200px {
   width: 1200px; 
}

.text-align-justify{
    text-align: justify;
}

.width-1000px {
   width: 1000px; 
}



.single-page-heading h1 a {
    font-size: 39px;
}

.single-news-body p {
    font-size: 17px;
}